.App {
  text-align: center;
}

.whiteBox {
  border-radius: 25px;
}

.heute {
  color:black;
  width: 100%;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #e8f5e9;
}

.kalorien {
  margin-top: -90px;
}

.loginRight {
  margin-right: 10px;
}

.brand-logo-header{
  font-size: larger;
}